<% provide(:title, "Crear Cliente Nuevo") %>
<%= render 'layouts/sidebar' %>

<div id="page-content" class="inset"> 
  <div class="row">
    <div class="col-md-12">
      <h1>Listado de Clientes</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Razón Social</th>
            <th>RUC</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td><%= client.name %></td>
            <td><%= client.fullname %></td>
            <td><%= client.ruc %></td>
            <td>
              <%= link_to client, :class => 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <%= link_to edit_client_path(client), :class => 'btn btn-info' do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
              <%= link_to client, method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'btn btn-default btn-danger' do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @clients %>

    </div>
  </div>
</div>